@model IEnumerable<LandOfStartups.Models.Information>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            Page
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.page.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.informationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.informationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.informationID })
        </td>
    </tr>
}

</table>
